@import "tailwindcss";

@font-face {
  font-family: "Display";
  src: url("/fonts/PixelScriptRegular-0WnDG.otf");
}

@font-face {
  font-family: "Serif";
  src: url("/fonts/Redaction20-Regular.otf");
}

@font-face {
  font-family: "Serif italic";
  src: url("/fonts/Redaction20-Italic.otf");
}

@theme {
  --color-background: #cec6c1;
  --color-background-dim: #a19b97;
  /* --color-background: #e8e0cd; */
  --color-text: #130f0c;

  /* --color-accent: #5f180c; */
  --color-accent: #bd0000;
  /* --color-accent: #8487e8; */
  /* --color-accent-dim: #5f180c; */
  --color-accent-dim: #390d00;

  --color-primary: #54601c;
  /* --color-primary: #b4810f; */
  /* --color-primary: #799400; */
  /* --color-primary-dim: #54601c; */

  --color-secondary: #757da1;
  /* --color-secondary: #8487e8; */
  /* --color-secondary: #869cff; */
  --color-secondary-dim: #8189ad;
  --color-secondary-intense: #768fff;

  --color-tertiary: #c08f35;
  /* --color-tertiary: #4f6c5c; */
  /* --color-tertiary: #ffa600; */
  /* --color-tertiary-dim: #c08f35; */

  --color-muted: #999;
  --color-muted-text: #444;

  --font-serif: "Serif", "EB Garamond", serif;
  --font-serif-italic: "Serif italic", "EB Garamond", serif;
  --font-sans: "Helvetica", "Arial", sans-serif;
  --font-display: "Display", "Monsieur La Doulaise", serif;
}

::selection {
  @apply bg-accent text-secondary;
}

:root {
  /* color: #768fff; */
  @apply bg-background text-text;

  font-family: var(--font-sans), system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* :root:has(.no-doc-scroll) {
  overflow: hidden;
} */

html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-background-dim);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 0.125rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-tertiary);
}
