@import "tailwindcss";

@theme {
  --color-background: #cec6c1;
  --color-text: #000;

  --color-accent: #5f180c;

  --color-primary: #54601c;
  --color-secondary: #757da1;
  --color-tertiary: #c08f35;

  --color-muted: #999;
  --color-muted-text: #444;

  --font-serif: "EB Garamond", serif;
  --font-sans: "Poppins", sans-serif;
}

::selection {
  @apply bg-accent text-secondary;
}

:root {
  @apply bg-background text-text;

  font-family: var(--font-sans), system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* :root:has(.no-doc-scroll) {
  overflow: hidden;
} */
