@import "tailwindcss";

@theme {
  --color-background: #dcd9cb;
  --color-text: #000;
  /* --color-accent: #881e0b; */
  --color-accent: #11104c;
  --color-primary: #2a7430;
  --color-secondary: #4eaca9;
  /* --color-secondary: #ffcc00; */
  --color-muted: #555;
  --color-muted-text: #999;

  --font-serif: "EB Garamond", serif;
  /* --font-serif: "Cormorant", serif; */
  /* --font-serif: "Libre Caslon Text", serif; */
  --font-sans: "Poppins", sans-serif;
  /* --font-sans: "Source Sans", sans-serif; */
}

::selection {
  @apply bg-accent text-secondary;
}

:root {
  @apply bg-background text-text;

  font-family: var(--font-sans), system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* :root:has(.no-doc-scroll) {
  overflow: hidden;
} */
